/* Font List */
/* Font: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

body {
    width: 100%;
    background-color: #d9d9d9;
    color: #1c1c1c;
}

div.landing{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

#falling {
    width: 100%;
    height: 50vh;
  }

.falling-object {
    width: 100px;
    height: 100px;
  }